/vendor
/node_modules
.phpunit.result.cache
.phpunit.cache
composer.lock
phpunit.xml
.php-cs-fixer.cache
.php_cs.cache
.idea
.vscode
*.cache
coverage.xml
clover.xml
.env
.env.backup
.env.production
.phpstorm.meta.php
_ide_helper.php
build
coverage
.DS_Store 