includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - vendor/*
    ignoreErrors:
        -
            message: '#Call to an undefined method .+::with\(\)#'
            path: tests/*
       
        -
            message: '#Access to an undefined property Pest\\Mixins\\Expectation<mixed>::\$not#'
            path: tests/*
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
